<style>
    .bg-logo {
        position: relative;
        z-index: 0;
    }
    .bg-logo::after {
        content: "";
        background: url(https://lib.om.ua/om-logo-only.svg);
        background-size: 330px;
        background-repeat: no-repeat;
        background-position: -85px -70px;
        opacity: 0.15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
</style>
<div class="app m-t-md" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp bg-logo': om.isGt()}" md-colors="{ background: 'grey-A100' }">

    <div class="t-c">

        <!-- <img class="logo" src="https://lib.om.ua/om-logo.svg" alt=""> -->
        <h1 class="md-display-1">
            Добро пожаловать<span ng-show="account.firstname || account.username">,<br> {{ account.firstname || account.username }}</span>!
        </h1>

        <md-button class="md-primary" ng-href="/signup" ng-hide="id">
            Зарегистрироваться
        </md-button>
        <md-button class="md-primary" ng-href="/signin" ng-hide="id">
            Войти
        </md-button>
        <md-button class="md-primary" ng-href="/settings" ng-show="id">
            Настройки
        </md-button>
        <md-button class="md-primary" ng-show="id" ng-click="signout()">
            Выйти
        </md-button>

    </div>

</div>

<div class="app m-t-md" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp': om.isGt()}" md-colors="{ background: 'grey-A100' }" flex-xs="grow" ng-show="account.balance">

    <div layout-gt-xs="row" layout-align=" center">
        <h2 class="md-headline" flex>Финансовая статистика</h2>
        <p class="t-r">Состояние счета {{account.balance}} грн.</p>
    </div>
    <table class="t-c p-sm" style="width: 100%;">
        <thead>
            <tr>
                <th hide-xs>Дата</th>
                <th class="t-l">Операция</th>
                <th class="t-r">Сумма</th>
                <th class="t-r">Баланс</th>
            </tr>
        </thead>
        <tbody ng-init='types = {
                            "fee" : "Абонплата",
                            "liqpay" : "Пополнение через LiqPay",
                            "bank": "Пополнение через банк",
                            "cache": "Пополнение наличными",
                            "suspend": "Приостановка предоставления услуг",
                            "renewal": "Возобновление предоставления услуг",
                            }'>
            <tr ng-repeat="operation in operations track by operation.id">
                <td class="t-sm" hide-xs>
                    <span hide-xs>{{ operation.created | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                    <span hide-gt-xs>{{ operation.created | date:'yyyy-MM-dd HH:mm' }}</span>
                </td>
                <td class="t-l">
                    {{ types[operation.type] }}
                    <span class="t-xs" hide-gt-xs>
                        <br>
                        {{ operation.created | date:'yyyy-MM-dd HH:mm' }}
                    </span>
                </td>
                <td class="t-r">{{ operation.sum | number:2 }}</td>
                <td class="t-r">{{ operation.balance | number:2 }}</td>
            </tr>
        </tbody>
    </table>

</div>
