<form name="form" ng-disabled="state.loading" ng-submit="signin()">

<div layout-gt-xs="row">
    <h1 flex>Авторизация</h1>
    <md-input-container class="md-block" hide-xs>
        <md-button class="md-primary" ng-href="/signup">
            Не зарегистрированы?
        </md-button>
    </md-input-container>
</div>

<div layout-gt-sm="row">
    <md-input-container class="md-block" flex>
        <label>Имя пользователя или почта</label>
        <input name="identity" autocomplete="username" ng-model="account.identity" required>
        <div ng-messages="form.identity.$error">
            <div ng-message="required">Необходимо ввести имя пользователя или адрес электронной почты</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>Пароль</label>
        <input name="password" type="password" autocomplete="current-password" ng-model="tmp.password" ng-minlength="6" ng-change="change()" required>
        <div ng-messages="form.password.$error">
            <div ng-message="required">Необходимо ввести пароль</div>
            <div ng-message="minlength">Пароль должен быть не менее 6-ти символов</div>
        </div>
    </md-input-container>
</div>

<div layout="row" layout-align="center">
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading"></md-progress-circular>
    <md-button class="md-raised md-primary" md-autofocus ng-disabled="form.$invalid || state.loading" ng-click="signin()">
        Продолжить
    </md-button>
</div>

<md-input-container class="md-block t-c" hide-gt-xs>
    <md-button class="md-primary" ng-href="/signup">
        Не зарегистрированы?
    </md-button>
</md-input-container>

</form>
