<form class="app m-t-md" ng-class="{'p-sm': !om.isGt(), 'p-md m-b-md md-whiteframe-1dp': om.isGt()}" md-colors="{ background: 'grey-A100' }" name="form" ng-disabled="loading" ng-submit="signup()">

<div layout="row">
    <h1 class="md-display-1" flex>Регистрация</h1>
    <md-input-container class="md-block" hide-xs>
        <md-button class="md-primary" ng-href="/signin/">
            Уже зарегистрированы?
        </md-button>
    </md-input-container>
</div>

<md-input-container class="md-block">
    <label>Почта</label>
    <input name="email" type="email" autocomplete="email" ng-model="account.email" required>
    <div ng-messages="form.email.$error">
        <div ng-message="required">Необходимо ввести адрес электронной почты</div>
        <div ng-message="email">Введите корректный адрес электронной почты</div>
    </div>
</md-input-container>

<div layout-gt-xs="row">
    <md-input-container class="md-block" flex>
        <label>Пароль</label>
        <input name="password1" type="password" autocomplete="new-password" ng-model="tmp.password1" ng-minlength="6" ng-change="change()" required>
        <div ng-messages="form.password1.$error">
            <div ng-message="required">Необходимо ввести пароль</div>
            <div ng-message="minlength">Пароль должен быть не менее 6-ти символов</div>
        </div>
    </md-input-container>
    <md-input-container class="md-block" flex>
        <label>Подтверждение пароля</label>
        <input name="password2" type="password" autocomplete="new-password" passwords ng-model="tmp.password2" ng-minlength="6" ng-change="change()" required>
        <div ng-messages="form.password2.$error">
            <div ng-message="required">Необходимо ввести подтверждение пароля</div>
            <div ng-message="minlength">Пароль должен быть не менее 6-ти символов</div>
            <div ng-message="passwords">Пароль и подтверждение не совпадают</div>
        </div>
    </md-input-container>
</div>

<div layout="row" layout-align="center">
    <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
    <md-button class="md-raised md-primary" ng-disabled="form.$invalid || loading" ng-click="signup()">
        Продолжить
    </md-button>
</div>

<md-input-container class="md-block t-c" hide-gt-xs>
    <md-button class="md-primary" ng-href="/signin/">
        Уже зарегистрированы?
    </md-button>
</md-input-container>

</form>
